{% extends "base.twig" %}

{% block content %}
<div class="modal fade" data-modal-color="lightgreen" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Добавление нового растения</h4>
	  </div>
	<form method="POST" action="/division/{{dvs._id}}/plant">
	  <div class="modal-body">
		<div class="row row-offcanvas row-offcanvas-right">
			<div class="col-xs-12 col-sm-12">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="inputName">Название</label>
						<input name="rus_name" id="inputName" class="form-control" type="text">
					</div>
					<div class="form-group col-sm-6">
						<label for="inputLatName">Латинское название</label>
						<input name="lat_name" id="inputLatName" class="form-control" type="text">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="information">Описание</label>
						<textarea name="info" class="form-control" id="information" rows="8"></textarea>
						<style type="text/css">
							#information { resize: none; }
						</style>
					</div>
						
					<div class="form-group col-sm-6">
						<label for="measures">Меры охраны</label>
						<textarea name="sec_measures" class="form-control" id="measures" rows="8"></textarea>
						<style type="text/css">
							#measures { resize: none; }
						</style>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="status">Статус растения</label>
						<select name="status" class="form-control col-sm-6" id="status">
							{% for st in statuses %}
								<option name="{{st._id}}">{{st.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group col-sm-6">
						<label for="multiSelect">Охраняется в</label>
						<select name="reservation" class="form-control"  multiple="multiple" id="multiSelect">
							{% for rsv in reservations %}
								<option>{{rsv.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		<button type="submit" class="btn btn-primary">Создать</button>
	  </div>
	</form>
	</div>
  </div>
</div>

<div class="container">
	<div class="blog-header">
		<h1 class="blog-title">{{dvs.name}} 		
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#AddModal">
				Добавить
			</button>
		</h1>
		<p class="lead blog-description">{{dvs.annotation}}</p>
	</div>
	<div class="row">
		<div class="col-sm-12 blog-main">
			{% for plant in plants %}
			<div class="blog-post">
				<h2 class="blog-post-title">{{plant.rus_name}} </h2> 
				<p class="blog-post-meta">{{plant.lat_name}}
					<a href="/division/{{plant.division}}/plant/{{plant.id}}" type="submit" class="btn btn-default">Редактировать</a>
					<form method="POST" action="/division/{{plant.division}}/plant/{{plant.id}}/delete">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="btn btn-danger">Удалить</button>
					</form>
				</p>
				<h3>Описание</h3>
				<p>{{plant.info}}</p>
				<h3>Меры охраны</h3>
				<p>{{plant.sec_measures}}</p>
				<h3>Статус -
				{% for st in statuses %}
					{% if st%}
						{% if plant.status_p == st.id %}
							{{ st.name}}</h3>
							<p>{{st.info}}</p>
						{% endif %}
					{% endif %}
				{% endfor %}
				<h3>Места охраны</h3>
				{% for rsv in plant.reservations %}
					<p> {{ rsv.res }} </p>
				{% endfor %}
			</div>
			{% endfor %}
		</div><!-- /.blog-main -->
	</div>
</div><!--/.container-->



{% endblock %}